@charset "UTF-8";

.table-container {
	margin-bottom: 30px;
}

.header {
	display: flex;
	justify-content: center;
	/* 中央揃え */
	align-items: center;
	position: relative;
	padding: 10px;
}

.title {
	background-color: #ffc600;
	border-radius: 0.8vw;
	padding-left: 5.8vw;
	padding-right: 5.8vw;
	margin-bottom: 10px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	flex: 1;
	/* タイトルが中央に配置されるようにする */
}

.add-button {
	position: absolute;
	right: 20px;
	/* ボタンを右に寄せる */
	top: 50%;
	transform: translateY(-50%);
}