<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div class="container">
		<div class="d-flex justify-content-end">
			<a th:href="@{/savings/register}" class="btn btn-outline-primary mr-2">Register</a>
			<a th:href="@{/savings/login}" class="btn btn-outline-secondary">Login</a>
		</div>
		<h1>貯金箱</h1>

</html>